systemLog:
  verbosity: 0
  destination: file
  path: /var/opt/rh/rh-mongodb34/log/mongodb/mongod.log
  logAppend: true
  logRotate: reopen
processManagement:
  fork: true
  pidFilePath: /var/opt/rh/rh-mongodb34/run/mongodb/mongod.pid
net:
  port: 27017
  bindIp: 0.0.0.0
  ipv6: true
  unixDomainSocket:
    enabled: true
    pathPrefix: /var/opt/rh/rh-mongodb34/run/mongodb
storage:
  dbPath: /var/opt/rh/rh-mongodb34/lib/mongodb
  engine: wiredTiger
replication:
   replSetName: "rs0"
